### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
env/
venv/

### Django ###
.env
db.sqlite3

### Ignore Migrations and Pychache ###
/products/__pycache__/*

# Ignore development media & working
media
staticfiles
#migrations
/.pytest_cache/
/.pycrunch-config.yaml

migrations